*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow-x: hidden;
}
#header_media{
    background-color: #2D3E4D;
    width: 100vw;
    height: 2.5rem;
}
#header_media_fb{
    position: absolute;
    right: 3.5rem;
    top: 0.5rem;
}
#header_media_IG{
    position: absolute;
    right: 1rem;
    top: 0.5rem;
}
#header_menu{
    align-content: center;
    padding: 1.5rem 3.5rem;
    display: flex;
    justify-content: flex-end;
}
#header_logo{
    position: absolute;
    left: 2rem;
    top: 3.5rem;
}
#header_menu a:not(:first-child){
    display: flex;
    flex-direction: row;
    text-decoration: none;
    padding: 1rem 0.75rem;
    font-size: 1.25rem;
    color: #000;    
    transition: all 0.5s ease;
}
#header_menu a:hover:not(:first-child){
    color: #3EB595;
    transform: scale(1.2);
    overflow: hidden;
}
#nav_title{
    margin-top: 0.5rem;
    background-color: #2D3E4D;
    width: 100vw;
    height: 3rem;
    font-size: 1.5rem;
    color: #FFF;
    text-align: center;
    line-height: 3rem;
}
#sec_area_1{
    position: relative;
    overflow: hidden;
}
#main_pic{
    width: 100vw;
    height: 60vh;
    transition: all 1s ease;
}
#main_pic:hover{
    transform: scale(1.1);
}
#sec_area_1 .p1{
    position: absolute;
    top: 5rem;
    left: 25rem;
    font-size: 3rem;
    z-index: 2;
    font-weight: 900;
    color: #FFF;
}
#sec_area_1 .p2{
    position: absolute;
    top: 8rem;
    left: 55rem;
    font-size: 3rem;
    z-index: 2;
    font-weight: 900;
    color: #FFF;
}
#sec_area_2{
    position: relative;
    margin: 1.5rem;
    left: 7rem;
}
#sec_area_2 .p1{
    top: 5rem;
    left: 25rem;
    font-size: 2rem;
    font-weight: 700;
}
#sec_area_3{
    margin: 2rem auto;
}
#sec_area3_top ,#sec_area3_bot{
    display: flex;
    margin: 2rem 2rem;
    width: 80vw;
    justify-content: space-between;
}
.area3_p1{
    color: #3EB595;
    font-weight: 700;
    font-size: 1.5rem;
}
.area3_p2{
    font-weight: 300;
    font-size: 0.9rem;
}
#sec_area_4{
    display: flex;
    margin: 3rem auto;
    width: 100vw;
    justify-content: space-between;
}
.area4_p{
    font-weight: 500;
    font-size: 1.1rem;
}
#area_pic{
    width: 100vw;
    height: 60vh;
}
#sec_area_4 .area4_p1{
    position: absolute;
    top: 3rem;
    left: 5rem;
    font-size: 3rem;
    z-index: 2;
    font-weight: 900;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.25);
}

#sec_area_6{
    background-color: rgba(45,62,77,0.8);
    display: flex;
    justify-content: center;
}
#sec_area_6 .area_6{
    /* border: 1px solid red; */
    margin: 5rem 0;
    width: 40rem;
    height: 100%;
}
#sec_area_6 .area_6 p{
    padding-left: 1.5rem;
    line-height: 1.5rem;
}

#sec_area_6 .area6_p1{
    text-align: center;
    padding-bottom: 1rem;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    font-weight: 500;
}
#sec_area_6 .area6_p2{
    padding-bottom: 0.5rem;
    color:rgb(255, 255, 255);
    font-size: 0.8rem;
    font-weight: 300;
}

#sec_area_8{
    text-align: center;
    margin-bottom: 1.5rem;
}
#sec_area_8 a{
    text-decoration: none;
    padding: 0 0.75rem;
    font-size: 1.25rem;
    color: #000;    
    transition: all 0.5s ease;
}
#sec_area_8 a:hover{
    color: #3EB595;
    font-weight: 700;
}
footer{
    width: 100vw;
    height: 13rem;
    background-color: #C9C3B9;
    position: relative;
}
#footer_logo{
    position: absolute;
    left: 5rem;
    top: 2rem;
}
#footer_media_fb{
    position: absolute;
    left: 23rem;
    top: 3rem;
}
#footer_media_IG{
    position: absolute;
    left: 26rem;
    top: 3rem;
}
footer p{
    position: absolute;
    left: 23rem;
    top: 6rem;
    font-size: 1.25rem;
}